<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="sendForm()">

  <h4>Create warehouse</h4>

  <div class="flex flex-column gap-2 px-3">

    <div class="grid">

      <div class="flex flex-column col-12 md:col-3">
        <label for="name">Name</label>
        <input
          pInputText
          id="name"
          formControlName="name"
        />
        <small
          *ngIf="isNotValidField('name')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('name') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">

        <button
          class="flex justify-content-center mt-3"
          type="submit"
          pButton
          pRipple
        >
          Save
        </button>

      </div>

    </div>

  </div>

</form>

<hr class="mr-8" />

<div class="card pt-5">

  <h4>Assign product to warehouse</h4>

  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Family</th>
        <th>Name</th>
        <th>Sale Price</th>
        <th style="width: 5rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.productFamily.name }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.salePrice }}</td>
        <td>

          <button
            type="button"
            pButton
            pRipple
            icon="pi pi-pen-to-square"
            (click)="openEditDialog(product)"
          >
          </button>

        </td>

      </tr>
    </ng-template>
  </p-table>

  <!-- =========================================== -->
  <!-- ===== Dialog para actualizar elemento ===== -->
  <!-- =========================================== -->
  <p-dialog header="Assign product to warehouse" [modal]="true" [(visible)]="showDialogToAssignProduct" [style]="{ width: '25rem' }">

    <form autocomplete="off" [formGroup]="myFormProduct" (ngSubmit)="saveProduct()">

      <span class="p-text-secondary block mb-5">Enter the new information.</span>

      <div class="flex align-items-center gap-3 mb-5">
        <label for="branchOffice" class="font-semibold w-6rem">BranchOffice</label>
        <div class="flex flex-column">
          <p-dropdown
            [options]="branchOffices"
            placeholder="Select a branchoffice"
            optionLabel="name"
            formControlName="branchOfficeId"
          />
          <small
            *ngIf="isNotValidField('branchOfficeId', 'product')"
            style="color: red; padding-top: 10px;"
          >
            {{ getFieldError('branchOfficeId', 'product') }}
          </small>
        </div>
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <label for="warehouse" class="font-semibold w-6rem">Warehouse</label>
        <div class="flex flex-column">
          <p-dropdown
            [options]="warehouses"
            placeholder="Select a warehouse"
            optionLabel="name"
            formControlName="warehouseId"
          />
          <small
            *ngIf="isNotValidField('warehouseId', 'product')"
            style="color: red; padding-top: 10px;"
          >
            {{ getFieldError('warehouseId', 'product') }}
          </small>
        </div>
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <label for="quantity" class="font-semibold w-6rem">Quantity</label>
        <div class="flex flex-column">
          <input
            class="flex-auto"
            pInputText
            id="quantity"
            formControlName="quantity"
          />
          <small
            *ngIf="isNotValidField('quantity', 'product')"
            style="color: red; padding-top: 10px;"
          >
            {{ getFieldError('quantity', 'product') }}
          </small>
        </div>
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="showDialogToAssignProduct = false" />
        <button type="submit"
          pButton
          pRipple
        >
          Save
        </button>
      </div>
      <!-- <p-button label="Save" type="submit" /> -->

    </form>

  </p-dialog>
  <!-- =========================================== -->
  <!-- ===== Dialog para actualizar elemento ===== -->
  <!-- =========================================== -->

</div>


<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [hideTransformOptions]="'translateX(100%)'"
></p-toast>

