<p-panel header="Empresas" class="p-1">
  <p>
    En este módulo se podrán gestionar las empresas de manera eficiente.
    Visualiza todas las empresas existentes, crea nuevas, edita la información
    de las actuales y elimina aquellas que ya no necesites.
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="col-12 md:col-3">
    <p-card>
      <p-button class="flex justify-content-center" label="Crear" severity="success" />
    </p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card>
      <p-button class="flex justify-content-center" label="Actualizar" severity="help" />
    </p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card>
      <p-button class="flex justify-content-center" label="Mostrar" severity="info" />
    </p-card>
  </div>
  <div class="col-12 md:col-3">
    <p-card>
      <p-button class="flex justify-content-center" label="Eliminar" severity="danger" />
    </p-card>
  </div>

</div>

