<p-panel header="Warehouses" class="p-1">
  <p>
    In this module, you can create warehouses for branches and associate
    them with the indicated branch. In addition, you can also see the
    quantities of the products in the different warehouses.
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="col-12 md:col-3">
    <p-card>
      <p-button
        class="flex justify-content-center"
        label="Add"
        severity="success"
      />
    </p-card>
  </div>

  <div class="col-12 md:col-3">
    <p-card>
      <p-button
        class="flex justify-content-center"
        label="Show"
        severity="info"
      />
    </p-card>
  </div>

</div>
