<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="saveProduct()">

  <div class="flex flex-column gap-2 px-3">

    <div class="grid">

      <div class="flex flex-column col-12 md:col-3">
        <label for="name">Name</label>
        <input
          pInputText
          id="name"
          formControlName="name"
        />
        <small
          *ngIf="isNotValidField('name')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('name') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-2">
        <label for="salePrice">Sale price</label>
        <input
          pInputText
          id="salePrice"
          aria-describedby="sale-price"
          formControlName="salePrice"
        />
        <small
          *ngIf="isNotValidField('salePrice')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('salePrice') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-4">

        <div class="grid ml-1 pt-2">

          <div class="flex flex-column">
            <label for="name">Product Family</label>
            <p-dropdown
              [options]="productFamily"
              placeholder="Select a family"
              formControlName="productFamilyId"
              optionLabel="name"
            />
            <small
              *ngIf="isNotValidField('productFamilyId')"
              style="color: red; padding-top: 10px;"
            >
              {{ getFieldError('productFamilyId') }}
            </small>
          </div>

          <p-button
            class="ml-3 mt-3"
            label="Create Family"
            (onClick)="openCreateDialog()"
          />

        </div>

      </div>

      <div class="flex flex-column col-6 md:col-2">

        <button
          class="ml-auto mt-3"
          type="submit"
          pButton
          pRipple
        >
          Send
        </button>

      </div>

    </div>

  </div>

</form>


<!-- =========================================== -->
<!-- ===== Dialog para actualizar elemento ===== -->
<!-- =========================================== -->
<p-dialog header="Create new family product" [modal]="true" [(visible)]="showDialogToCreateProductFamily" [style]="{ width: '25rem' }">

  <form autocomplete="off" [formGroup]="myFormFamilyProduct" (ngSubmit)="saveProductFamily()">

    <span class="p-text-secondary block mb-5">Enter the new information.</span>

    <div class="flex align-items-center gap-3 mb-5">

      <label for="username" class="font-semibold w-6rem">Name</label>
      <div class="flex flex-column">
        <input pInputText id="username" class="flex-auto" formControlName="name" />
        <small
          *ngIf="isNotValidField('name', 'family')"
          style="color: red; padding-top: 6px;"
        >
          {{ getFieldError('name', 'family') }}
        </small>
      </div>

    </div>

    <div class="flex justify-content-end gap-2">
      <p-button label="Cancel" severity="secondary" (onClick)="showDialogToCreateProductFamily = false" />
      <p-button label="Save" type="submit" />
    </div>

  </form>

</p-dialog>
<!-- =========================================== -->
<!-- ===== Dialog para actualizar elemento ===== -->
<!-- =========================================== -->



<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [hideTransformOptions]="'translateX(100%)'"
></p-toast>



