<p-panel header="Create customer" class="p-1">

  <p>
    Fill the form to save customer
  </p>

  <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="send()">

    <div class="grid">

      <div class="flex flex-column col-12 md:col-4">
        <label for="name">Name</label>
        <input
          pInputText
          id="name"
          formControlName="name"
        />
        <small
          *ngIf="isNotValidField('name')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('name') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-4">
        <label for="sureName">Surename</label>
        <input
          pInputText
          id="sureName"
          formControlName="sureName"
        />
        <small
          *ngIf="isNotValidField('sureName')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('sureName') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-4">
        <label for="secondSureName">Second Surname</label>
        <input
          pInputText
          id="secondSureName"
          formControlName="secondSureName"
        />
        <small
          *ngIf="isNotValidField('secondSureName')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('secondSureName') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-4">
        <label for="email">Email</label>
        <input
          pInputText
          id="email"
          formControlName="email"
        />
        <small
          *ngIf="isNotValidField('email')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('email') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-8">
        <label for="address">Address</label>
        <input
          pInputText
          id="address"
          formControlName="address"
        />
        <small
          *ngIf="isNotValidField('address')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('address') }}
        </small>
      </div>


      <div class="flex flex-column col-12 md:col-3">
        <label for="telephone">Phone</label>
        <input
          pInputText
          id="telephone"
          maxlength="10"
          formControlName="telephone"
        />
        <small
          *ngIf="isNotValidField('telephone')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('telephone') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">
        <label for="typeCustomerId">Type Customer</label>
        <p-dropdown
          [options]="typeCustomer"
          placeholder="Select type of customer"
          optionLabel="name"
          formControlName="typeCustomerId"
        />
        <small
          *ngIf="isNotValidField('typeCustomerId')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('typeCustomerId') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">
        <label for="branchOfficeId">Branch Office</label>
        <p-dropdown
          [options]="branchOffices"
          placeholder="Select branch office"
          optionLabel="name"
          formControlName="branchOfficeId"
        />
        <small
          *ngIf="isNotValidField('branchOfficeId')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('branchOfficeId') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">
        <button
          class="ml-auto mt-3 custom-button"
          type="submit"
          pButton
          pRipple
        >
          Send
        </button>
      </div>

    </div>

  </form>

</p-panel>


<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [hideTransformOptions]="'translateX(100%)'"
></p-toast>
