<p-panel header="Warehouses movements" class="p-1">
  <p>
    In this module, material movements can be made between the different
    warehouses of the same branch or even different branches.
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="flex justify-content-center col-12 md:col-3">
    <p-card>
      <p>
        Send products between warehouses of the same branch.
      </p>
      <p-button
        class="flex justify-content-center"
        label="Show"
        severity="info"
        (onClick)="selectAction('create')"
      />
    </p-card>
  </div>

  <div class="col-12 md:col-3">
    <p-card>
      <p>
        Send products between warehouses of different branches.
      </p>
      <p-button
        class="flex justify-content-center"
        label="Show"
        severity="info"
        (onClick)="selectAction('read')"
      />
    </p-card>
  </div>

  <div class="col-12 md:col-12">

    <transfer-products-same-branch *ngIf="actionOfCrudFromService.create" />

    <transfer-products-different-branches *ngIf="actionOfCrudFromService.read" />

  </div>

</div>


