<div class="mt-2">

  <form autocomplete="off" [formGroup]="productForm" (ngSubmit)="getFormData()">

    <p-table [value]="productsFormArray.controls" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>SKU</th>
        <th>Family</th>
        <th>Name</th>
        <th>Quantity</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr [formGroupName]="rowIndex">
        <td>{{ product.id }}</td>
        <td>{{ product.codigoSKU }}</td>
        <td>{{ product.productFamily.name }}</td>
        <td>{{ product.name }}</td>
        <td>
          <input
            pInputText
            id="state"
            aria-describedby="address-help"
            type="text"
            formControlName="quantity"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  </form>

</div>


