<form class="mt-5" autocomplete="off" [formGroup]="myForm" (ngSubmit)="sendForm()">

  <div class="flex flex-column gap-2 px-3">

    <div class="grid">

      <div class="flex flex-column col-12 md:col-3">
        <label for="address">Address</label>
        <input
          pInputText
          id="address"
          aria-describedby="address"
          formControlName="address"
        />
        <small
          *ngIf="isNotValidField('address')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('address') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">
        <label for="priceOfLabor">Price Of Labor</label>
        <input
          pInputText
          id="priceOfLabor"
          aria-describedby="priceOfLabor"
          formControlName="priceOfLabor"
        />
        <small
          *ngIf="isNotValidField('priceOfLabor')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('priceOfLabor') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">
        <label for="priceOfTransfer">Price Of Transfer</label>
        <input
          pInputText
          id="priceOfTransfer"
          aria-describedby="priceOfTransfer"
          formControlName="priceOfTransfer"
        />
        <small
          *ngIf="isNotValidField('priceOfTransfer')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('priceOfTransfer') }}
        </small>
      </div>

      <div class="flex flex-column col-12 md:col-3">
        <label for="priceTotal">Price Total</label>
        <input
          pInputText
          id="priceTotal"
          aria-describedby="priceTotal"
          formControlName="priceTotal"
        />
        <small
          *ngIf="isNotValidField('priceTotal')"
          style="color: red; padding-top: 10px;"
        >
          {{ getFieldError('priceTotal') }}
        </small>
      </div>

      <!-- ========================== -->
      <!-- ===== Product to add ===== -->
      <!-- ========================== -->
      <div class="flex flex-column col-12 mt-5">
        <label>Products to add:</label>
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>SKU</th>
              <th>Family</th>
              <th>Name</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.id }}</td>
              <td>{{ product.codigoSKU }}</td>
              <td>{{ product.productFamily.name }}</td>
              <td>{{ product.name }}</td>
              <td>
                <p-button
                  label="Add"
                  (onClick)="addProduct(product)"
                />
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- ========================== -->
      <!-- ===== Product to add ===== -->
      <!-- ========================== -->
      <small
        *ngIf="isNotValidField('productsOfWorkOrder')"
        style="color: red; padding-top: 10px;"
      >
        {{ getFieldError('productsOfWorkOrder') }}
      </small>


      <!-- ============================ -->
      <!-- ===== Products to save ===== -->
      <!-- ============================ -->
      <div class="flex flex-column col-12 mt-5" *ngIf="showTableProductsToSend">
        <label>Products of work order:</label>
        <p-table [value]="productsFormArray.controls" [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Id</th>
              <th>SKU</th>
              <th>Family</th>
              <th>Name</th>
              <th>Quantity</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-productFormGroup let-i="rowIndex">
            <tr [formGroup]="productFormGroup">
              <td>{{ productFormGroup.get('id').value }}</td>
              <td>{{ productFormGroup.get('codigoSKU').value }}</td>
              <td>{{ productFormGroup.get('familyname').value }}</td>
              <td>{{ productFormGroup.get('name').value }}</td>
              <td>
                <input
                  style="text-align: center; width: 150px;"
                  pInputText
                  id="quantity"
                  aria-describedby="quantity"
                  formControlName="quantity"
                  maxlength="2"
                />
              </td>
              <td>
                <p-button
                  icon="pi pi-trash"
                  class="p-button-danger"
                  (onClick)="removeProduct(i)"
                ></p-button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      <!-- ============================ -->
      <!-- ===== Products to save ===== -->
      <!-- ============================ -->

    </div>

    <button
      class="ml-auto mt-3"
      type="submit"
      pButton
      pRipple
    >
      Send Form
    </button>

  </div>

</form>


<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransitionOptions]="'1000ms'"
  [hideTransitionOptions]="'1000ms'"
  [hideTransformOptions]="'translateX(100%)'"
></p-toast>



