<p-panel header="Companies" class="p-1">
  <p>
    In this module you can manage your companies efficiently.
    View all existing companies, create new ones, edit the
    information of current ones and delete those you no longer need.
  </p>
</p-panel>

<div class="grid mt-2">

  <div class="col-12 md:col-3">
    <p-card>
      <p-button
        class="flex justify-content-center"
        label="Add"
        severity="success"
        (onClick)="selectAction('create')"
      />
    </p-card>
  </div>
  <!-- <div class="col-12 md:col-3">
    <p-card>
      <p-button
        class="flex justify-content-center"
        label="Actualizar"
        severity="help"
        (onClick)="selectAction('update')"
      />
    </p-card>
  </div> -->
  <div class="col-12 md:col-3">
    <p-card>
      <p-button
        class="flex justify-content-center"
        label="Show"
        severity="info"
        (onClick)="selectAction('read')"
      />
    </p-card>
  </div>
  <!-- <div class="col-12 md:col-3">
    <p-card>
      <p-button
        class="flex justify-content-center"
        label="Eliminar"
        severity="danger"
        (onClick)="selectAction('delete')"
      />
    </p-card>
  </div> -->

  <div class="col-12 md:col-12">

    <create-company *ngIf="actionOfCrudFromService.create" />

    <show-company *ngIf="actionOfCrudFromService.read" />

  </div>

</div>

