<div class="card">

  <h4 class="mt-5">Select:</h4>

  <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="sendFormToConsultProducts()">

    <div class="grid">

      <div class="flex flex-column col-12 md:col-4">
        <label for="branchOfficeId" class="font-semibold w-6rem">BranchOffice</label>
        <div class="flex flex-column">
          <p-dropdown
            [options]="branchOffices"
            placeholder="Select a branchOffice"
            optionLabel="name"
            formControlName="branchOfficeId"
          />
          <small
            *ngIf="isNotValidField('branchOfficeId')"
            style="color: red; padding-top: 10px;"
          >
            {{ getFieldError('branchOfficeId') }}
          </small>
        </div>
      </div>

      <div class="flex flex-column col-12 md:col-4">
        <label for="warehouseId" class="font-semibold w-6rem">Warehouse</label>
        <div class="flex flex-column">
          <p-dropdown
            [options]="warehouses"
            placeholder="Select a warehouse"
            optionLabel="name"
            formControlName="warehouseId"
          />
          <small
            *ngIf="isNotValidField('warehouseId')"
            style="color: red; padding-top: 10px;"
          >
            {{ getFieldError('warehouseId') }}
          </small>
        </div>
      </div>

      <div class="flex flex-column col-12 md:col-2 mt-3">

        <button
          class="p-button-centered"
          type="submit"
          pButton
          pRipple
        >
          Send
        </button>

      </div>

    </div>

  </form>


  <p-toast />
  <div *ngIf="showTableProducts">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Family</th>
          <th>Name</th>
          <th>Quantity</th>
          <th style="width: 5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.product.productFamily.name }}</td>
          <td>{{ product.product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>
            <button
              type="button"
              pButton
              pRipple
              icon="pi pi-pen-to-square"
              (click)="openEditDialog(product)"
            >
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <!-- =========================================== -->
  <!-- ===== Dialog para actualizar elemento ===== -->
  <!-- =========================================== -->
  <p-dialog header="Edit product" [modal]="true" [(visible)]="showDialogToUpdateProduct" [style]="{ width: '25rem' }">

    <form autocomplete="off" [formGroup]="myFormProduct" (ngSubmit)="saveProduct()">

      <span class="p-text-secondary block mb-5">Enter the new information.</span>

      <div class="flex align-items-center gap-3 mb-5">

        <label for="family" class="font-semibold w-6rem">Family product</label>
        <div class="flex flex-column">
          <input
            pInputText
            id="family"
            class="flex-auto"
            formControlName="family"
            readonly
          />
        </div>

      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <label for="name" class="font-semibold w-6rem">Name product</label>
        <div class="flex flex-column">
          <input
            pInputText
            id="name"
            class="flex-auto"
            formControlName="name"
            readonly
          />
        </div>
      </div>

      <div class="flex align-items-center gap-3 mb-5">
        <label for="quantity" class="font-semibold w-6rem">Quantity</label>
        <div class="flex flex-column">
          <input pInputText id="quantity" class="flex-auto" formControlName="quantity" />
          <small
            *ngIf="isNotValidField('quantity', 'product')"
            style="color: red; padding-top: 6px;"
          >
            {{ getFieldError('quantity', 'product') }}
          </small>
        </div>
      </div>

      <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (onClick)="showDialogToUpdateProduct = false" />
        <p-button label="Save" type="submit" />
      </div>

    </form>

  </p-dialog>
  <!-- =========================================== -->
  <!-- ===== Dialog para actualizar elemento ===== -->
  <!-- =========================================== -->


</div>


